<! DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <head>
        <!--Windows info-->
	<meta name="msapplication-TileImage" content="icon.png">
	<meta name="msapplication-TileColor" content="#002e58">

	<!--iOS info-->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title content="Nymbus">
	<link rel="apple-touch-icon" href="icon.png">
	
	<!--Android info-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Password Checker </title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="manifest" href="manifest.json">
    </head>
   <body ng-app="pswdgen" ng-controller="generate">
       <div class="top">
            <nav>
            <ul>
            <li><img id="logo" src="icon1.png"/></li>
            <li><img id="logo" class="nav" id="pswdgen" src="passicon.png" onclick="window.location.href = 'index.html';"></img></li>
            <li><img id="logo" class="nav-idle" id="finder" src="scamicon.png" onclick="window.location.href='scam.html';"></img></li>
            <li><img id="logo" src="breachicon.png" class="nav-idle" id="monitor" onclick="window.location.href = 'security.html';"></img></li>
            </ul>
           </nav>
       </div>
       <div class="main">
           <h1 class="title">{{passphrase}}</h1>
           <input class="input" type="text" ng-model="word1" placeholder="Enter word 1"/>
           <input class="input" type="text" ng-model="word2" placeholder="Enter word 2"/>
           <input class="input" type="text" ng-model="word3" placeholder="Enter word 3"/>
           <button class="group" type="button" ng-click="passphrase = word1 + word2 + word3 + num">Generate</button>
           <div class="tips">
               <div id="spacer2"></div>
               <div class="main">
                <h2>Why this is important</h2>
                <p>A strong password helps keep your accounts and devices safe, so having a strong password is important. The best password is a password with a few random words clumped together, with a number to add some more variety. This type of password is not only strong, but easy to remember.</p>
               </div>
               <div id="spacer2"></div>
           </div>
           <div class="tips">
               <div id="spacer2"></div>
               <div class="main">
                <h2>Password tips</h2>
                <h3><br/>Avoid reuising passwords</h3>
                <p>If your password is compromised on one account, it can be used to access other accounts that use the same password. Using different passwords for different accounts can help keep this from happening.</p>
                <h3><br/>Use a password manager</h3>
                <p>This can help you keep track of different passwords for multiple accounts. All you need to remember is one secure password to access the password manager, and you can use autofill to log into your accounts.</p>
                <h3><br/>Use 2FA or OTP</h3>
                <p>This adds a second layer of security to your accounts, which uses a one time password to protect your account. This is done either through an authenticator app, text messages, or even a physical USB key if you want to invest in one.</p>
                </div>
               <div id="spacer2"></div>
           </div>
           <button class="donate" type="button" onclick="window.location.href = 'donate.html';">Donate</button>
       </div>
   </body>
   <script>
   import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

    const el = document.createElement('pwa-update');
    document.body.appendChild(el);

    var app = angular.module('pswdgen', []);

    app.controller('generate', function ($scope){
        $scope.num = Math.floor((Math.random() * 99) + 1);
        $scope.passphrase = "Passphrase Generator ";
    });
    </script>
   </html>